In [45]:
import pandas as pd

import matplotlib.pyplot as plt

Run it to read the CSV file into a DataFrame

In [74]:
df = pd.read_csv("technologies.csv")
df.head()

,name,technologies,posted_date,company
0,Python-програміст,"CSS,HTML,JavaScript,Python,PostgreSQL,Flask,Ce...",2024-05-01,"Дервішов І.Г., ФОП"
1,Python-програміст,"Python,MongoDB,FastAPI,OpenAI",2024-04-29,Vilmate LLC
2,Python-програміст,"Java,PHP,MySQL,Git,GitHub,GitLab,JavaScript,Py...",2024-04-29,PNN Soft
3,Викладач програмування,"JavaScript,Java,Python,Програмування",2024-04-29,"Hammer Gym, мережа фітнес-центрів"
4,Python-програміст,"Python,Responsibility,Machine learning,Deep Le...",2024-04-27,Logivations

This code performs the following steps:

1. Splitting the technologies listed in the "technologies" column into separate entries and converting them into a list of lists.

2. Creating a new column called "all_technologies" containing a list of technologies for each record.

3. Exploding the list of technologies in the new "all_technologies" column, i.e., converting each list of technologies into separate rows.

4. Creating a new DataFrame based on the cross-tabulation, which counts the occurrences of each technology and joining it with the original DataFrame.

5. Dropping the "all_technologies" and "technologies" columns as they are no longer needed.

6. Converting the "posted_date" column to datetime format.

7. Displaying the first few rows of the DataFrame.

In [75]:
technologies = df["technologies"].str.split(",").values.tolist()

df["all_technologies"] = technologies

all_technologies = df["all_technologies"].explode()

df = df.join(
   pd.crosstab(
       all_technologies.index, all_technologies
   )
)

df = df.drop(columns=["all_technologies", "technologies"])

df["posted_date"] = pd.to_datetime(df["posted_date"])

df.head()

,name,posted_date,company,AWS,Agile,Aiohttp,Backend-розробка,Beautiful Soup,C#,C++,...,Пунктуальність,Робота в команді,Робота з базою даних,Розробка API,Саморозвиток,Стресостійкість,Уважність,Цілеспрямованість,впевненість щодо викладання,практичне програмування
0,Python-програміст,2024-05-01,"Дервішов І.Г., ФОП",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Python-програміст,2024-04-29,Vilmate LLC,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Python-програміст,2024-04-29,PNN Soft,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Викладач програмування,2024-04-29,"Hammer Gym, мережа фітнес-центрів",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Python-програміст,2024-04-27,Logivations,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0